* {
    font-family: "Inter", sans-serif;
    color: #293264;
    scroll-behavior: smooth;
}

html {
    display: flex;
    height: 100%;
}

html,
body {
    margin: auto;
    background: #f5f7fb;
    z-index: -2;
}

.app {
    margin: auto;
    padding: 1rem;
}

.app::before {
    content: url("../img/blobYellow.png");
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
}

.app::after {
    content: url("../img/blobBlue.png");
    position: fixed;
    z-index: -1;
    bottom: 0;
    left: 0;
}

/* Start Screen */
.startScreen {
    text-align: center;
}

.startScreen h1 {
    font-family: "Karla", sans-serif;
    font-size: 36px;
    line-height: 19.36px;
    font-weight: 700;
}

.startScreen p {
    font-size: 18px;
}

/* Questions Screen */
.questionDiv {
    border-bottom: 0.794239px solid #dbdef0;
    padding: 1.5rem 0;
}

.questionDiv h2 {
    margin: 0 0 1.4rem;
    font-size: 20px;
}

@media only screen and (min-width: 1000px) {
    .questionDiv .questionSelect {
        display: flex;
    }
    .questionDiv .questionSelect label {
        margin: 0 1.5rem 0 0 !important;
    }
}

.questionDiv .questionSelect label {
    font-weight: 500;
    display: block;
    font-size: 14px;
    margin: 1rem 0;
    cursor: pointer;
    border-radius: 12px;
    padding: 0.5rem 1.25rem;
    background: #f5f7fb;
    border: 0.79px solid #4d5b9e;
}

.questionDiv .questionSelect input:checked + label {
    background: #d6dbf5;
    border-color: transparent;
}

.questionDiv .questionSelect .correctAnswer input + label {
    background: #94d7a2;
    border-color: transparent;
}

.questionDiv .questionSelect span:not(.correctAnswer) input:disabled + label {
    opacity: 0.5;
}

.questionDiv .questionSelect.playAgain span:not(.correctAnswer) input:checked + label {
    background: #f8bcbc;
}

.questionDiv .questionSelect [type="radio"]:checked,
.questionDiv .questionSelect [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
    width: 0;
    height: 0;
    visibility: hidden;
}

.playAgainBtnDiv .score {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 1rem;
    display: block;
}

@media only screen and (min-width: 1000px) {
    .playAgainBtnDiv .score {
        margin: 0 2rem 0 0 !important;
        display: unset !important;
    }
}

/* Buttons */
.btn-quiz {
    color: #f5f7fb;
    font-size: 16px;
    font-weight: 500;

    border-radius: 15px;
    padding: 1rem 2rem;
    border: 1px solid transparent;
    background: #4d5b9e;
    cursor: pointer;

    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.btn-quiz:hover {
    color: #4d5b9e;
    border-color: #4d5b9e;
    background: #f5f7fb;

    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.checkAnswers,
.playAgainBtnDiv {
    margin-top: 2rem;
    text-align: center;
}
